html {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

body {
  background-color: #fafafa;
}


.card-header {
  border-bottom: 1px solid gray;
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.likes-container {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 100%;
}

.comment-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.add-comment {
  padding-top: 20px;
  border: none;
  color: gray;
  border-bottom: 2px solid transparent;
  transition: all 0.25s ease;
}

.add-comment:focus {
  outline: none;
  border-bottom: 2px solid gray;
}

.likes-counter {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.current-date {
  color: gray;
  font-size: 14px;
  margin: 14px 0;
}

.see-more {
  background: none;
  border: none;
}

.card-user-image {
  width: 50px;
  height: 50px;
  background-color: blue;
}

/** Header section*/

.icons-container {
  display: flex;
  font-size: 25px;
  margin-top: 15px;
}

.icons-container i:first-child {
  margin-right: 10px;
}

.icons-container i:hover {
  cursor: pointer;
}

.icon-bookmark {
  margin-left: auto;
}

.card-image {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.card-container {
  background-color: white;
  display: flex;
  border: 1px solid gray;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

@media (min-width: 1000px) {
  .card-container {
    flex-wrap: nowrap;
    margin-left: 100px;
    margin-right: 100px;
  }

  .card-image {
    width: 60%;
  }
}
